<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yinsh.hrm.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.yinsh.hrm.domain.Course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="users" property="users"/>
        <result column="course_type_id" property="courseTypeId"/>
        <result column="gradeName" property="gradeName"/>
        <result column="grade" property="grade"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenantName" property="tenantName"/>
        <result column="user_id" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="pic" property="pic"/>
    </resultMap>
    <resultMap id="selectByMap" type="cn.yinsh.hrm.domain.Course">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="users" property="users"/>
        <result column="course_type_id" property="courseTypeId"/>
        <result column="gradeName" property="gradeName"/>
        <result column="grade" property="grade"/>
        <result column="status" property="status"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="tenantName" property="tenantName"/>
        <result column="user_id" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="pic" property="pic"/>
        <association property="courseType" javaType="cn.yinsh.hrm.domain.CourseType">
            <id property="id" column="course_type_id"/>
            <result property="name" column="typename"/>
        </association>
    </resultMap>

    <!--上线-->
    <update id="onLine">
        UPDATE t_course
        SET start_time = #{time},status = 1
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
    <!--课程下线-->
    <update id="offLine">
        UPDATE t_course
        SET end_time = #{time},status = 0
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="selectByQuery" resultMap="selectByMap">
        SELECT
        <include refid="colum"/>
        ,
        ct.name typename
        FROM t_course c
        LEFT JOIN t_course_type ct on c.course_type_id = ct.id
        <include refid="baseSQL"/>
    </select>

    <sql id="colum">
            c.id,
            c.name,
            c.users,
            c.course_type_id,
            c.gradeName,
            c.grade,
            c.status,
            c.tenant_id,
            c.tenantName,
            c.user_id,
            c.userName,
            c.start_time,
            c.end_time,
            c.pic
    </sql>
    <sql id="baseSQL">
        <where>
            <if test="query.keyword!=null and query.keyword!=''">
                AND (
                c.name LIKE CONCAT ('%',#{query.keyword},'%')
                or
                ct.name LIKE CONCAT ('%',#{query.keyword},'%')
                or
                c.username LIKE CONCAT ('%',#{query.keyword},'%')
                )
            </if>
            <if test="query.status!=null">
                and c.status = #{query.status}
            </if>
        </where>

    </sql>

</mapper>
